@import "src/styles/styles";

:host {
  display: block;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
}

.header {
  height: 5.5em;
  background-color: $dark;
  box-shadow: 0.1em 0.25em 0.25em rgba($dark, 0.15);
  width: 100%;
  top: 0;
  position: relative;
  @include fluid-property("padding-left", 16px, 64px);
  @include fluid-property("padding-right", 16px, 64px);

  &__container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: inherit;
    align-items: center;
    padding: 1.625em 0;
  }

  &__title {
    font-weight: 700;
    background-color: $dark;
    color: white;
    margin: 0;
    @include fluid-property("font-size", 16px, 24px);

    &__wrapper {
      text-decoration: none;
    }

    &--light {
      font-weight: 400;
      padding: 0 0.3125em;
      background-color: $dark;
      color: $light;
    }
  }

  &__link {
    cursor: pointer;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    background-color: inherit;

    &__link {
      color: $light;
      background-color: $dark;
      text-decoration: none;
      font-size: 1.2em;
      @include fluid-property("margin-left", 8px, 32px);
      @include fluid-property("font-size", 14px, 20px);


      &:hover {
        color: $mid;
      }
    }
  }
}
