@import "src/styles/styles";

:host {
  display: block;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
}

.header {
  border-bottom: 0.5px solid lightgray;
  background-color: white;
  width: 100%;
  top: 0;
  position: relative;
  @include fluid-property("padding-left", 16px, 64px);
  @include fluid-property("padding-right", 16px, 64px);

  &__container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: inherit;
    align-items: center;
    padding: 1.625em 0;
  }

  &__title {
    font-weight: 700;
    background-color: inherit;
    color: rgb(38, 38, 38);
    margin: 0;

    &--light {
      font-weight: 400;
      padding: 0 0.3125em;
      background-color: white;
    }
  }

  &__links {
    display: flex;
    justify-content: space-between;
    background-color: inherit;

    &__link {
      color: black;
      text-decoration: none;
      font-size: 1.2em;
      margin-left: 2em;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
