.nav {
  display: flex;
  justify-content: center;
  border-top: 0.5px solid lightgray;
  margin: auto;
  padding: 1px 0;

  &__options {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    &__option {
      font-weight: 300;
      color: gray;
      padding: 0 40px;
      white-space: nowrap;
      cursor: pointer;
    }

    &__icon {
      font-size: 1em;
      padding-right: 5px;
    }

    &__link {
      text-decoration: none;
      font-size: 0.9em;
    }
  }
}

.active {
  .nav__options__option {
    color: black;
  }
}

@media screen and (max-width: 480px) {
  .nav__options__link {
    padding: 0 30px;
  }
}
