@import "src/styles/styles";

.project {
  display: flex;
  font-weight: 300;
  margin: 0 0 2em 0;
  padding: 4em 0;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  &__italics {
    font-style: italic;
  }

  &__bio {
    font-weight: 300;
    font-size: 1.5em;
  }

  &__title {
    font-size: 3.25em;
    margin-bottom: 1rem;
  }

  &__image {
    flex: 1 1 50%;
    box-shadow: 0.1em 0.25em 0.25em rgba($dark, 0.15);
    min-width: 0;
    width: 100%;
    margin: 0 2em;
    align-self: center;
  }

  &__content {
    flex: 1 1 66.666%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__buttons {
    margin-top: 1em;
    padding-bottom: 1em;
  }

  &__button {
    text-decoration: none;
    width: fit-content;
    padding: 1em 1.5em;
    border-radius: 0.5em;
    margin-top: 1em;
    cursor: pointer;
    box-shadow: 0.1em 0.25em 0.25em rgba($dark, 0.15);

    &--primary {
      color: $light;
      background-color: $dark;
      margin-right: 1em;

      &:hover {
        color: $mid;
      }
    }

    &--secondary {
      background-color: $light;
      color: $dark;
      border: 1px solid $dark;

      &:hover {
        background-color: $mid;
      }
    }
  }
}
