@import "src/styles/styles";

.project {
  display: flex;
  font-weight: 300;
  margin: 0 0 2em 0;
  padding: 2em 0;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding-top: 0;
  }

  &__reverse {
    flex-direction: row-reverse;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__italics {
    font-style: italic;
    margin-bottom: 1rem;
  }

  &__bio {
    font-weight: 300;
    @include fluid-property("font-size", 18px, 24px);
    @include fluid-property("margin-bottom", 8px, 16px);
  }

  &__tech {
    padding: 1em 0;
    &__heading {
      font-weight: 400;
      @include fluid-property("font-size", 18px, 24px);

    }
  }

  &__title {
    @include fluid-property("font-size", 36px, 52px);
    font-weight: 400;
    @include fluid-property("margin-bottom", 8px, 16px);
    display: flex;
    align-items: center;
  }

  &__image {
    flex: 1 1 50%;
    box-shadow: 0.1em 0.25em 0.25em rgba($dark, 0.15);
    min-width: 0;
    width: 100%;
    align-self: center;

    &:nth-child(2n) {
      margin-left: 2em;
    }

    &:nth-child(2n + 1) {
      margin-right: 2em;
    }
  }

  &__content {
    flex: 1 1 66.666%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      padding-top: 1em;
    }
  }

  &__buttons {
    margin-top: 1.5em;
    padding-bottom: 1em;
  }

  &__button {
    text-decoration: none;
    width: fit-content;
    padding: 1em 1.5em;
    border-radius: 0.5em;
    margin-top: 1em;
    cursor: pointer;
    box-shadow: 0.1em 0.25em 0.25em rgba($dark, 0.15);

    &--primary {
      color: $light;
      background-color: $dark;
      margin-right: 1em;

      &:hover {
        color: $mid;
      }
    }

    &--secondary {
      background-color: $light;
      color: $dark;
      border: 1px solid $dark;

      &:hover {
        background-color: $mid;
      }
    }

    &--small {
      font-size: 1rem;
      padding: 0.5em 1em;
      background-color: $mid;
      color: $light;
      margin-left: 1em;
      margin-top: 0;
    }
  }
}
