.work {
  display: flex;
  font-weight: 300;
  margin: 0 0 2em 0;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  &__title {
    margin-bottom: 2em;
    border-bottom: 1px solid gray;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__images {
    display: flex;
    flex-direction: column;
    flex: 1 1 33.333%;
    margin-right: 1em;

    @media screen and (max-width: 768px) {
      flex-direction: row;
    }
    &__image {
      box-sizing: border-box;
      box-shadow: 0.1em 0.25em 0.25em rgba(0, 0, 0, 0.08);
      max-width: 100%;
      margin-bottom: 1.5em;

      @media screen and (max-width: 768px) {
        flex: 1 1 50%;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__content {
    flex: 1 1 66.666%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
