.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__tile {
    box-sizing: border-box;
    width: calc(33.33% - 1em);
    margin-bottom: 1.5em;
    box-shadow: 0.1em 0.25em 0.25em rgba(0, 0, 0, 0.08);

    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 480px) {
  .projects {
    justify-content: center;
  }
}
